<div class="container-fluid">
    <div class="row">
        <div class="search-form col-sm-12">
            <form>
                <div class="city-select">
                    <select name="services" id="ip-city" class="select-service text-center" autocomplete="off">
                        <option selected disabled>Select City</option>
                        <option value="1">Johannesburg</option>
                        <option value="2">Cape Town</option>
                        <option value="3">Durban</option>
                    </select>
                </div>
                <div class="service-select">
                    <input type="text" class="ip-service text-center" id="ip-service" placeholder="Service" name="service-type" autocomplete="off">
                </div>
                <div class="date-select">
                    <input class="text-center" type="text" name="service-date" placeholder="Select Date" id="ip-service-date" autocomplete="off"
                        readonly>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>