<div class="container-fluid">
    <div class="service-title">
        <h5>Cleaning Services</h5>
    </div>
    <div class="image-slider-container">
        <div class="image-container">
            <div class="each-image">
                <img src="img/clean.jpeg" alt="cleaning image">

                <span class="caption">Full Day Cleaning</span>

            </div>
            <div class="description">
                <p class="description"> Let us help you to lean the house, do the laundary and ironing, clean dishes and bathrooms</p>
            </div>
        </div>
        <div class="each-image">
            <img src="img/clean-party.jpeg" alt="cleaning image">
            <span class="description"> Had a party? Now, allow us to clean your home and make it ready for another party </span>
            <span class="caption">Party Cleaning</span>

        </div>
        <div class="each-image">
            <img src="img/clean-deep.jpeg" alt="cleaning image">
            <span class="description">Spring time - deep cleaning includes us cleaning the whole place - get to those uncleaned corners, clean the
                kitchen cabinets and more...</span>
            <span class="caption">Deep Cleaning</span>

        </div>
        <div class="each-image">
            <img src="img/clean-carpet.jpeg" alt="cleaning image">
            <span class="description">We know how to handle expensive persian carpets - clean, wash and dry. </span>
            <span class="caption">Carpet Cleaning</span>

        </div>
        <div class="each-image">
            <img src="img/clean-pool.jpeg" alt="cleaning image">
            <span class="description">Dirty Pool? We can help you clean and make it ready for a dip</span>
            <span class="caption">Pool Cleaning</span>

        </div>
    </div>

</div>