<div class="container-fluid">
    <div class="service-title">
        <h5>Gardening Services</h5>
    </div>
    <div class="image-slider-container">
        <div class="each-image">
            <img src="img/gardening.jpeg" alt="cleaning image">
            <span class="caption">Gardening</span>
            <span class="description">Regular cleaning, Trimming</span>

        </div>

        <div class="each-image">
            <img src="img/landscape.jpeg" alt="cleaning image">
            <span class="caption">Landscaping</span>
            <span class="description">Designer Garden?</span>
            

        </div>
        <div class="each-image">
            <img src="img/lawn.jpeg" alt="cleaning image">

            <span class="caption">Lawn Mowing</span>
            <span class="description">Get rid of the shrub</span>
            

        </div>
        <div class="each-image">
            <img src="img/trim.jpeg" alt="cleaning image">

            <span class="caption">Bush Trimming</span>
            <span>Get it in shape</span>

        </div>
        <div class="each-image">
            <img src="img/decoration.jpeg" alt="cleaning image">

            <span class="caption">Garden Decoration</span>
            <span>Just the way you want</span>

        </div>
    </div>

</div>