<!--Title box starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 title-box">
            <label>Logo</label>
            <h1>Welcome to
                <strong>Household</strong>
            </h1>
            <div>
                <label>Guest:</label>
                <label>Login</label>
            </div>

        </div>
    </div>
    <!--title box ends-->