<%include partials/header %>
    <%include partials/titlebox %>
        <section class="payments">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">We'll take you to an external secured payment gateway because you dont have sufficient points in your
                        account
                    </p>
                    <p class="text-center">Here's confirmation of your order</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="payment-card">
                        <div class="card" style="width: 18rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Area: Morgningside-Sandton</li>
                                <li class="list-group-item">Service: Cleaning Full Day</li>
                                <li class="list-group-item">Date: 2018-22-07</li>
                                <li class="list-group-item">Points: 500</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <button class="btn payment-btn text-center">Make Payment</button>
                    </div>
                </div>
            </div>
        </section>
        <%include partials/footer %>