<%include partials/header %>
    <%include partials/titlebox %>

        <div class="container">
            <section class="registration">


                <form>

                    <div class="form-personal">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-center">Personal Info</h4>
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword1">Password</label>
                                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="inputNumber">Contact No</label>
                                    <input type="number" class="form-control" id="inputNumber" placeholder="Contact No">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-address">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-center">Address - To be defaulted as service address</h4>
                                <div class="form-group">
                                    <label for="inputApt">Apartment</label>
                                    <input type="text" class="form-control" id="inputApt" placeholder="Apartment No - Name">
                                </div>
                                <div class="form-group">
                                    <label for="inputStreet">Street</label>
                                    <input type="text" class="form-control" id="inputStreet" placeholder="Street No - Name">
                                </div>
                                <div class="form-group">
                                    <label for="inputArea">Area</label>
                                    <input type="text" class="form-control" id="inputArea" placeholder="Area">
                                </div>
                                <div class="form-group">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <label for="inputCode">Pin Code</label>
                                    <input type="number" class="form-control" id="inputCode" placeholder="Pin Code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn register-btn text-center">Submit</button>
                        </div>
                    </div>

                </form>

            </section>
        </div>
        <%include partials/footer %>