<%include partials/header %>
  <%include partials/titlebox %>
    <!--
    <div class="row">
      <div class="col-sm-12 col-md-4 text-center">
        <div class="flip">
          <div class="card services">
            <!--face front->
            <div class="face front">
              <div class="well well-sm inner">
                <img class="card-img-top" src="img/puppy-1.jpg" alt="services">
                <div class="card-body">
                  <h5 class="card-title">Puppy 1</h5>
                  <p class="card-text">Passionate about helping people</p>
                  <a href="#" class="btn btn-card-select">Select</a>
                  <a href="#" class="btn btn-card-detail">Details</a>
                </div>
              </div>
            </div>
            <!--face front->
            <!--face back->
            <div class="face back ">
              <div class="well well-sm inner">
                <div class="card-body">
                  <h5 class='card-title'>Details</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-1</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">With Household Since
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <a href="#" class="btn btn-card-back">Back</a>
                </div>
              </div>
            </div>
            <!--face back->
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <div class="card services" style="width: 18rem;">
          <img class="card-img-top" src="img/puppy-2.jpg" alt="services">
          <div class="card-body">
            <h5 class="card-title">Puppy 2</h5>
            <p class="card-text">Passionate about helping people</p>
            <a href="#" class="btn btn-primary">Select</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <div class="card services" style="width: 18rem;">
          <img class="card-img-top" src="img/puppy-3.jpg" alt="services">
          <div class="card-body">
            <h5 class="card-title">Puppy 3</h5>
            <p class="card-text">Passionate about helping people</p>
            <a href="#" class="btn btn-primary">Select</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>  -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <!-- Card Flip -->
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="card services text-center">
                    <img class="card-img-top" src="img/puppy-1.jpg" alt="service-provider" style="height: 180px; width: 100%; display: block;"
                      data-holder-rendered="true">
                    <div class="card-block">
                      <h4 class="card-title">Puppy 1</h4>
                      <p class="card-text">Passionate about helping people</p>
                      <a href="#" class="btn btn-card-detail">Details</a>
                      <a href="#" class="btn btn-card-select">Select</a>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="card services text-center">
                    <div class="card-block">
                      <h4 class="card-title">Hello</h4>
                      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                    </div>

                    <div class="card-block">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name:
                          <span>&nbsp;</span>
                          <span>Puppy-1</span>
                        </li>
                        <li class="list-group-item">Security Verified:
                          <span>&nbsp;</span>
                          <span>Yes</span>
                        </li>
                        <li class="list-group-item">Household Trained:
                          <span>&nbsp;</span>
                          <span>Yes</span>
                        </li>
                        <li class="list-group-item">With Household Since
                          <span>&nbsp;</span>
                          <span>2018-05-31</span>
                        </li>
                      </ul>
                      <a href="#" class="btn btn-card-back">Back</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Flip -->
          </div>
        </div>
      </div>
    </section>
    <%include partials/footer %>