<%include partials/header %>
  <%include partials/titlebox %>


    <section class="service-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <!-- individual cards-->
          <div class="class-container">
            <div class="flip-card">
              <!--front face-->
              <div class="front-face">
                <img src="img/puppy-1.jpg" alt="service-provider" class="card-image">
                <h6 class="card-heading">Puppy-1</h6>
                <div class="card-details">
                  <p class="card-content">Passionate about helping people</p>
                  <button class="btn card-select-btn">Select</button>
                  <button class="btn card-flip-btn">Details</button>
                </div>
              </div>
              <!--front face-->
              <!--back face-->
              <div class="back-face">
                <div class="card-details-back">
                  <h6 class='card-heading'>Details</h6>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-1</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Joined:
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <button class="btn card-flip-btn">Back</button>
                </div>
              </div>
              <!--backface-->
            </div>
          </div>
          <!--card 2-->
          <div class="class-container">
            <div class="flip-card">
              <!--front face-->
              <div class="front-face">
                <img src="img/puppy-2.jpg" alt="service-provider" class="card-image">
                <h6 class="card-heading">Puppy-2</h6>
                <div class="card-details">
                  <p class="card-content">Passionate about helping people</p>
                  <button class="btn card-select-btn">Select</button>
                  <button class="btn card-flip-btn">Details</button>
                </div>
              </div>
              <!--front face-->
              <!--back face-->
              <div class="back-face">
                <div class="card-details-back">
                  <h6 class='card-heading'>Details</h6>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-2</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Joined:
                      <span>&nbsp;</span>
                      <span>2018-06-30</span>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <button class="btn card-flip-btn">Back</button>
                </div>
              </div>
              <!--backface-->
            </div>
          </div>
          <!--card 3-->
          <div class="class-container">
            <div class="flip-card">
              <!--front face-->
              <div class="front-face">
                <img src="img/puppy-3.jpg" alt="service-provider" class="card-image">
                <h6 class="card-heading">Puppy-3</h6>
                <div class="card-details">
                  <p class="card-content">Passionate about helping people</p>
                  <button class="btn card-select-btn">Select</button>
                  <button class="btn card-flip-btn">Details</button>
                </div>
              </div>
              <!--front face-->
              <!--back face-->
              <div class="back-face">
                <div class="card-details-back">
                  <h6 class='card-heading'>Details</h6>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-3</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Joined:
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <button class="btn card-flip-btn">Back</button>
                </div>
              </div>
              <!--backface-->
            </div>
          </div>
          <!--card 4-->
          <div class="class-container">
            <div class="flip-card">
              <!--front face-->
              <div class="front-face">
                <img src="img/puppy-4.jpg" alt="service-provider" class="card-image">
                <h6 class="card-heading">Puppy-4</h6>
                <div class="card-details">
                  <p class="card-content">Passionate about helping people</p>
                  <button class="btn card-select-btn">Select</button>
                  <button class="btn card-flip-btn">Details</button>
                </div>
              </div>
              <!--front face-->
              <!--back face-->
              <div class="back-face">
                <div class="card-details-back">
                  <h6 class='card-heading'>Details</h6>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-4</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Joined:
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <button class="btn card-flip-btn">Back</button>
                </div>
              </div>
              <!--backface-->
            </div>
          </div>
          <!--card 5-->
          <div class="class-container">
            <div class="flip-card">
              <!--front face-->
              <div class="front-face">
                <img src="img/puppy-5.jpg" alt="service-provider" class="card-image">
                <h6 class="card-heading">Puppy-5</h6>
                <div class="card-details">
                  <p class="card-content">Passionate about helping people</p>
                  <button class="btn card-select-btn">Select</button>
                  <button class="btn card-flip-btn">Details</button>
                </div>
              </div>
              <!--front face-->
              <!--back face-->
              <div class="back-face">
                <div class="card-details-back">
                  <h6 class='card-heading'>Details</h6>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-5</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Joined:
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <button class="btn card-flip-btn">Back</button>
                </div>
              </div>
              <!--backface-->
            </div>
          </div>
          <!--card 6-->
          <div class="class-container">
            <div class="flip-card">
              <!--front face-->
              <div class="front-face">
                <img src="img/puppy-6.jpg" alt="service-provider" class="card-image">
                <h6 class="card-heading">Puppy-6</h6>
                <div class="card-details">
                  <p class="card-content">Passionate about helping people</p>
                  <button class="btn card-select-btn">Select</button>
                  <button class="btn card-flip-btn">Details</button>
                </div>
              </div>
              <!--front face-->
              <!--back face-->
              <div class="back-face">
                <div class="card-details-back">
                  <h6 class='card-heading'>Details</h6>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-6</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Joined:
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <button class="btn card-flip-btn">Back</button>
                </div>
              </div>
              <!--backface-->
            </div>
          </div>
          <!-- individual cards -->
        </div>
      </div>
    </section>
    <%include partials/footer %>