<%include partials/header %>
  <%include partials/titlebox %>
    <!--
    <div class="row">
      <div class="col-sm-12 col-md-4 text-center">
        <div class="flip">
          <div class="card services">
            <!--face front->
            <div class="face front">
              <div class="well well-sm inner">
                <img class="card-img-top" src="img/puppy-1.jpg" alt="services">
                <div class="card-body">
                  <h5 class="card-title">Puppy 1</h5>
                  <p class="card-text">Passionate about helping people</p>
                  <a href="#" class="btn btn-card-select">Select</a>
                  <a href="#" class="btn btn-card-detail">Details</a>
                </div>
              </div>
            </div>
            <!--face front->
            <!--face back->
            <div class="face back ">
              <div class="well well-sm inner">
                <div class="card-body">
                  <h5 class='card-title'>Details</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-1</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">With Household Since
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <a href="#" class="btn btn-card-back">Back</a>
                </div>
              </div>
            </div>
            <!--face back->
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <div class="card services" style="width: 18rem;">
          <img class="card-img-top" src="img/puppy-2.jpg" alt="services">
          <div class="card-body">
            <h5 class="card-title">Puppy 2</h5>
            <p class="card-text">Passionate about helping people</p>
            <a href="#" class="btn btn-primary">Select</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <div class="card services" style="width: 18rem;">
          <img class="card-img-top" src="img/puppy-3.jpg" alt="services">
          <div class="card-body">
            <h5 class="card-title">Puppy 3</h5>
            <p class="card-text">Passionate about helping people</p>
            <a href="#" class="btn btn-primary">Select</a>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>  -->

    <section class="service-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <!-- individual cards-->
          <div class="class-container">
            <div class="flip-card">
              <!--front face-->
              <div class="front-face">
                <img src="img/puppy-1.jpg" alt="service-provider" class="card-image">
                <h6 class="card-heading">Puppy-1</h6>
                <div class="card-details">
                  <p class="card-content">Passionate about helping people</p>
                  <button class="btn card-select-btn">Select</button>
                  <button class="btn card-flip-btn">Details</button>
                </div>
              </div>
              <!--front face-->
              <!--back face-->
              <div class="back-face">
                <div class="card-details-back">
                  <h6 class='card-heading'>Details</h6>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:
                      <span>&nbsp;</span>
                      <span>Puppy-1</span>
                    </li>
                    <li class="list-group-item">Security Verified:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Household Trained:
                      <span>&nbsp;</span>
                      <span>Yes</span>
                    </li>
                    <li class="list-group-item">Joined:
                      <span>&nbsp;</span>
                      <span>2018-05-31</span>
                    </li>
                  </ul>
                  <br>
                  <br>
                  <button class="btn card-flip-btn">Back</button>
                </div>
              </div>
              <!--backface-->
            </div>
          </div>
          <!-- individual cards -->
        </div>
      </div>
    </section>
    <%include partials/footer %>